@import url("https://fonts.googleapis.com/css?family=Audiowide");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Audiowide";
}

body {
    background-color: #191919;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}



.game-over-screen {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    /* margin-top: 8rem; */
    z-index: 1;
}

.game-over {
    text-transform: uppercase;
    color: 	rgb(255, 0, 0);
    font-weight: 700;
    font-size: 3rem;
}

.final-score {
    font-weight: 500;
    font-size: 1.5rem;

}

.btn-play {
    border: none;
    border-radius: 10px;
    padding: 10px 15px 10px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}
.btn-play:hover {
    color: rgb(191, 0, 255);
}

.btn-play:active {
    box-shadow: -1px -2px 0 #222;
    font-size: 0.95rem;
}

.start-menu {
    /* margin-top: 8rem; */
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 2;
    align-items: center;
}

.start-game {
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase;

}

.btn-start {
    border: none;
    border-radius: 10px;
    padding: 10px 15px 10px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.btn-start:hover {
    color: lightgreen;
}

.btn-start:active {
    box-shadow: -1px -2px 0 #222;
    font-size: 0.95rem;
}

.stop-screen {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.game-stoped {
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
}


  #game-container {
    position: absolute;
    width: 80%; /* Adjust as needed */
    height: 85%; /* Adjust as needed */
    background-color: moccasin;
  }

  #canvas {
    background-color: #111;
    border: 2px solid #111;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    
  }
  
  #menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1px;
    position: relative;
    color: #000000;
    top: 0px;
    background-color: rgba(0,0,0,0.2);
    border: 1px solid #cccccc4a;
    border-radius: 3px;
    padding: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 2;
  }
  
  #menu h3 {
    margin-top: 0;
  }

  #menu button {
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #000000;
  }
  
  #menu button:hover {
    background-color: #eee;
  }